<h1>Objectif</h1>
<p>Objectifs du Projet: L'objectif de ce projet est de créer un site Web de commerce
    électronique pour la vente de produits. Le site Web permettra aux utilisateurs 
    de naviguer et d'acheter des produits. Les utilisateurs pourront également créer 
    un compte sur le site Web pour enregistrer leurs informations de paiement et de livraison. </p>

    <h2>Programeur:</h2>
    <h4>Roberto Alexander au vera</h4>
    <h5>Courriel: roberto.au.vera@gmail.com</h5>
<h5><a href="https://www.linkedin.com/in/roberto-au-628369183/">Linkedin</a></h5>
<h5><a href="https://github.com/Alexanderwsx/ECommerce">GitHub</a></h5>